.about-text-container {
  width: 420px;
  text-align: left;
}

.about-text-paragraph {
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #263238;
  line-height: 2;
}

.about-text-link {
  color: #263238;
  text-decoration: none;
  font-weight: 400;
}

.about-text-link:hover {
  color: #ee6e73;
}

@media (max-width: 425px) {
  .about-text-container {
    width: 320px;
  }
}
